<ol>
  {{#each data}}
  <li>Photo ID: {{attributes.id}}</li>
  <ul>
    <li>Author: {{attributes.author}}</li>
    <li>Description: {{attributes.description}}</li>
    <li>Link: <a href='{{attributes.link}}'>{{attributes.link}}</a></li>
  </ul>
  {{/each}}
</ol>