{{#if user}}
  {{>userNav}}
{{/if}}

{{#unless user}}
  {{>regularNav}}
{{/unless}}

{{>header}}

<div class='detailed_view_container'>
  <div class='main_photo_container'>
    <img class='main_photo' src={{mainPhoto.link}} alt='{{mainPhoto.description}}'>
    <p class='main_photo_description'>{{mainPhoto.description}}</p>
  </div>

  <div class='side_photos_container'>
    {{#each sidePhotos}}
      <div class='image_container'>
        <img class='image_thumbnail' src={{attributes.link}} alt='{{description}}'>
        <p>{{attributes.author}} ({{id}}) - {{attributes.description}}</p>
      </div>
    {{/each}}
  </div>