<ul>
  <li>Photo ID: {{id}}</li>
  <form action='/gallery/{{attributes.id}}/edit'>
    <input type='submit' value='Edit'>
  </form>
  <form action='/gallery/{{attributes.id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete'>
  </form>
  <li>Author: {{attributes.author}}</li>
  <li>Description: {{attributes.description}}</li>
  <li>Link:
    <a href='{{attributes.link}}'>{{attributes.link}}</a>
  </li>
</ul>