{{>userNav}}

{{>header}}

<div class='edit_container'>
  <img class='edit_image' src={{link}}>
  <div class='form_container'>
    <form action='/users/{{user_id}}/{{id}}/edit?_method=PUT' method='POST'>
      <div class='form_input_container'>
        <p>Author: </p>
        <input id='author_input_field' type='text' name='author' value='{{author}}' autofocus required>
      </div>
      <div class='form_input_container'> 
        <p>Link: </p>
        <input id='link_input_field' type='text' name='link' value='{{link}}' required>
      </div>
      <div class='form_input_container'>
        <p>Description: </p>
        <textarea id='description_input_field' name='description' required>{{description}}</textarea>
      </div>
      <div class='submit_container'>
        <input type='submit' value='Submit'>
      </div>
    </form>
  </div>
</div>